*.pyc
.env

.DS_Store

settings_local.py
requirements_local.txt

db.sqlite3

vetur.config.js

media
sent_emails
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

caselle-imports
test_user_data.json
node_modules
package-lock.json
