*.pyc
.env

.DS_Store

settings_local.py
requirements_local.txt

db.sqlite3

media
sent_emails
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

employees-2021-08-12.csv