<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body style="margin: 15px;">
        <h1>Current Employee Transitions</h1>
        
        <ul>
        {% for wfi in current_wfis %}
          {% with t=wfi.wfi.transition %}
            {% if t.assignee == 'Complete' %}
              <li>
                <a href="{{ domain }}/wf/{{ wfi.wfi.pk}}/processes">{{ t.type }}: {{ t.employee_first_name }} {{ t.employee_last_name }}, {{ t.title.name }}</a>, Form complete. Processes {{ wfi.wfi.percent_complete }}% complete.
                <ul>
                  {% for pi in wfi.pis %}
                    {% if pi.pi.percent_complete != 100 %}
                      {% with p=pi.pi.process assignees=pi.pi.process.role.members ago=pi.pi.current_step_instance.duration.days %}
                        <li>
                          {{ p.name }}: {{ pi.pi.current_step_instance.step.name }} assigned to {{ pi.assignees | join:', ' }}
                          {% if ago > 2 %}<strong>{% endif %}
                          {{ ago }} day{% if ago != 1 %}s{% endif %} ago
                          {% if ago > 2 %}</strong>{% endif %}
                        </li>
                      {% endwith %}
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>  
            
              
            {% else %}
              <li>
                <a href="{{ domain }}/wf/{{ wfi.wfi.pk}}/transition">{{ t.type }}: {{ t.employee_first_name }} {{ t.employee_last_name }}, {{ t.title.name }}</a>, Form assigned to {{ t.assignee }}
              </li>
            {% endif %}
          {% endwith %}
        {% endfor %}
        </ul>

        <h1>Transitions Completed Last Week</h1

        <ul>
          {% for wfi in last_week_wfis %}
            {% with t=wfi.transition %}
              <li>
                <a href="{{ domain }}/wf/{{ wfi.wfi.pk}}/transition">{{ t.type }}: {{ t.employee_first_name }} {{ t.employee_last_name }}, {{ t.title.name }}</a>, Completed on {{ wfi.completed_at }}
              </li>  
            {% endwith %}
          {% endfor %}
        </ul>


        <p>View all transitions: <a href="{{ workflows_url }}">{{ workflows_url }}</a></p>
        <p>View and update your email preferences: <a href="{{ profile_url }}">{{ profile_url }}</a></p>
    </body>
</html>