<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body style="margin: 15px;">
        <h1>Current Employee Transitions</h1>
        
        <ul>
        {% for wfi in current_wfis %}
          {% if wfi.t.assignee == 'Complete' %}
            <li>
              <a href="{{ domain }}/wf/{{ wfi.pk}}/processes">{{ wfi.t.type }}: {{ wfi.t.employee_first_name }} {{ wfi.t.employee_last_name }}, {{ wfi.t.title_name }}</a>, Form complete. Processes {{ wfi.percent_complete }}% complete.
              <ul>
                {% for pi in wfi.pis %}
                  {% if pi.percent_complete != 100 %}
                    <li>
                      {{ pi.name }}: {{ pi.current_step_name }} assigned to {{ pi.assignees | join:', ' }}
                      {% if pi.assigned_ago > 2 %}<strong>{% endif %}
                      {{ pi.assigned_ago }} day{% if pi.assigned_ago != 1 %}s{% endif %} ago
                      {% if pi.assigned_ago > 2 %}</strong>{% endif %}
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>  
          
            
          {% else %}
            <li>
              <a href="{{ domain }}/wf/{{ wfi.pk}}/transition">{{ wfi.t.type }}: {{ wfi.t.employee_first_name }} {{ wfi.t.employee_last_name }}, {{ wfi.t.title_name }}</a>, Form assigned to {{ wfi.t.assignee }}
            </li>
          {% endif %}
        {% endfor %}
        </ul>

        <h1>Transitions Completed Last Week</h1

        <ul>
          {% for wfi in last_week_wfis %}
            {% with t=wfi.transition %}
              <li>
                <a href="{{ domain }}/wf/{{ wfi.pk}}/transition">{{ wfi.t.type }}: {{ wfi.t.employee_first_name }} {{ wfi.t.employee_last_name }}, {{ wfi.t.title_name }}</a>, Completed on {{ wfi.completed_at }}
              </li>  
            {% endwith %}
          {% endfor %}
        </ul>


        <p>View all transitions: <a href="{{ workflows_url }}">{{ workflows_url }}</a></p>
        <p>View and update your email preferences: <a href="{{ profile_url }}">{{ profile_url }}</a></p>
    </body>
</html>