files:
    /usr/local/bin/end_desk_reservations_cron_script.sh:
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            export $(cat /opt/elasticbeanstalk/deployment/env | xargs)
            source $PYTHONPATH/activate
            python3 /var/app/current/manage.py end_all_desk_reservations

    /etc/cron.d/end_desk_reservations_cron:
        mode: "000644"
        owner: root
        group: root
        content: |
            0 2 * * * root /usr/local/bin/end_desk_reservations_cron_script.sh >> /var/log/end_desk_reservations_cron.log 2>&1
  
    /usr/local/bin/send_is_timeoff_next_week_report_cron_script.sh:
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            export $(cat /opt/elasticbeanstalk/deployment/env | xargs)
            source $PYTHONPATH/activate
            python3 /var/app/current/manage.py send_is_timeoff_next_week_report

    /etc/cron.d/send_is_timeoff_next_week_report_cron:
        mode: "000644"
        owner: root
        group: root
        content: |
            0 15 * * 5 root /usr/local/bin/send_is_timeoff_next_week_report_cron_script.sh >> /var/log/send_is_timeoff_next_week_report_cron.log 2>&1

commands:
  rm_old_cron:
    command: "rm -fr /etc/cron.d/*.bak"
    ignoreErrors: true