container_commands:
  01_collectstatic:
    command: "export SECRET_KEY="foo" && source /var/app/venv/staging-LQM1lest/bin/activate && /var/app/current/manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: mainsite.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
