<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body style="margin: 15px;">
        <h1>Credit Card Expenses</h1>
        
        <p>You have one or more months of credit card expenses to approve.</p>
        <p><a href="{{context.expenses_url}}">Please do so</a> as soon as you can.</p>
        <p>Thank you!</p>

        <p>View all your assigned expense months: <a href="{{context.expenses_url}}">{{context.expenses_url}}</a></p>
        <p>View and update your email preferences: <a href="{{context.profile_url}}">{{context.profile_url}}</a></p>
    </body>
</html>