/* Nav */

#top-nav {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    padding: 10px;
}

.nav-group {
    display: flex;
}

.nav-group p:first-child {
    padding-right: 10px;      
}



/* Dashboard */

.overdue {
    background-color: red;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
}

.hidden {
    display: none;
}