{% extends 'base.html' %}

{% block title %}Performance Review Detail{% endblock %}

{% block content %}
  <p>Performance Review for {{ object.employee }}</p>
  <p>Scheduled for {{ object.date|date }}</p>

  {% if notes %}
    <h3>Your Notes for {{ object.employee }}</h3>
    {% for note in notes %}
      <p>{{note.date }}: {{ note.note }}</p>
    {% endfor %}
  {% endif %}

  {% if object.performanceevaluation.evaluation %}
    <h3>Current Evaluation</h3>
    {% if object.performanceevaluation.discussion_date %}
      <p>Discussion with {{ object.employee }} set for {{ object.performanceevaluation.discussion_date }}</p>
    {% endif %}
    <p>{{ object.performanceevaluation.evaluation }}</p>
  {% endif %}

  {{ object }}
  {% if is_denied and object.performanceevaluation.upper_manager_note %}
    <h3>Upper Manager Note</h3>
    <p>{{ object.employee.manager.manager }} says:</p>
    <p>{{ object.performanceevaluation.upper_manager_note }}</p>
  {% endif %}

  <h3>Modify Evaluation</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit Evaluation">
  </form>
{% endblock %}