{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    {% comment %} Your Upcoming Reviews {% endcomment %}
    {% if user.is_authenticated %}
        <h2>Your Next Review</h2>
        {% if user.employee.employee_next_review %}
            <p>Your Next Review is scheduled for {{ user.employee.employee_next_review.date }}</p>
            {% if user.employee.employee_next_review.performanceevaluation %}
                <p>Your manager {{ user.employee.manager }} has written an evaluation:</p>
                <p>{{ user.employee.employee_next_review.performanceevaluation.evaluation }}</p>
                {% if user.employee.employee_next_review.performanceevaluation.employee_discussed %}
                    <p>You have marked this evaluation as discussed</p>
                {% else %}
                    <p id="message-employee-not-discussed">Evaluation is currently not marked as discussed</p>
                    <p id="message-employee-discussed" class="hidden">You have marked this evaluation as discussed</p>
                    <button id="employee-mark-discussed" data-review-pk="{{ user.employee.employee_next_review.pk }}">Mark as discussed</button>
                {% endif %}
            {% endif %}
        {% else %}
            <p>You do not have a scheduled upcoming review</p>
        {% endif %}
    {% endif %}


    {% comment %} Upcoming Evaluations to write - For Managers {% endcomment %}
    {% if user.is_authenticated and user.employee.get_direct_reports %}
        <h2>Current Evaluations (For Managers)</h2>
        {% if user.employee.manager_upcoming_reviews %}
            {% if user.employee.manager_upcoming_reviews_action_required %}
                <h3>Action Required</h3>
                <table>
                    <tr>
                        <th>Employee Name</th>
                        <th>Date of Review</th>
                        <th>Days Until Review</th>
                        <th>Status</th>
                        <th>Date of Discussion</th>
                        <th>Discussion took place</th>
                    </tr>
                    {% for review in user.employee.manager_upcoming_reviews_action_required %}
                        <tr>
                            <td><a href="{% url 'performancereview-view' review.pk %}">{{ review.employee }}</a></td>
                            <td>{{ review.date }}</td>
                            <td {% if review.overdue %}class="overdue"{% endif %}>{{ review.days_until_due }}</td>
                            <td>{{ review.get_status_display }}</td>
                            <td>{{ review.performanceevaluation.discussion_date }}</td>
                            <td>
                                {% if review.performanceevaluation.manager_discussed %}
                                    <p>Yes</p>
                                {% else %}
                                    <p id="message-manager-not-discussed">No</p>
                                    <button class="manager-mark-discussed" data-review-pk="{{ review.pk }}">Mark as discussed</button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            {% if user.employee.manager_upcoming_reviews_no_action_required %}
                <h3>No Action Required</h3>
                <table>
                    <tr>
                        <th>Employee Name</th>
                        <th>Date of Review</th>
                        <th>Days Until Review</th>
                        <th>Status</th>
                        <th>Date of Discussion</th>
                        <th>Discussion took place</th>
                    </tr>
                    {% for review in user.employee.manager_upcoming_reviews_no_action_required %}
                        <tr>
                            <td><a href="{% url 'performancereview-view' review.pk %}">{{ review.employee }}</a></td>
                            <td>{{ review.date }}</td>
                            <td {% if review.overdue %}class="overdue"{% endif %}>{{ review.days_until_due }}</td>
                            <td>{{ review.get_status_display }}</td>
                            <td>{{ review.performanceevaluation.discussion_date }}</td>
                            <td>
                                {% if review.performanceevaluation.manager_discussed %}
                                    <p>Yes</p>
                                {% else %}
                                    <p id="message-manager-not-discussed">No</p>
                                    <button class="manager-mark-discussed" data-review-pk="{{ review.pk }}">Mark as discussed</button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        {% else %}
            <p>You do not have any upcoming evaluations</p>
        {% endif %}
    {% endif %}

    {% comment %} All upcoming evaluations statuses - For managers of managers {% endcomment %}
    {% if user.is_authenticated and user.employee.get_direct_reports_descendants %}
        <h2>All Current Evaluations (For Upper Managers)</h2>
        {% if user.employee.upper_manager_upcoming_reviews %}
            <table>
                <tr>
                    <th>Employee Name</th>
                    <th>Manager Name</th>
                    <th>Date of Review</th>
                    <th>Days Until Review</th>
                    <th>Status</th>
                    <th>Date of Discussion</th>
                </tr>
                {% for review in user.employee.upper_manager_upcoming_reviews %}
                    <tr>
                        <td><a href="{% url 'performancereview-view' review.pk %}">{{ review.employee }}</a></td>
                        <td>{{ review.employee.manager }}</td>
                        <td>{{ review.date }}</td>
                        <td {% if review.overdue %}class="overdue"{% endif %}>{{ review.days_until_due }}</td>
                        <td>{{ review.get_status_display }}</td>
                        <td>{{ review.performanceevaluation.discussion_date }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>You do not have any upcoming evaluations</p>
        {% endif %}
    {% endif %}
    
{% endblock %}

{% block extrascript %}
    <script type="text/javascript">
        $('#employee-mark-discussed').click(function(){
            var reviewpk;
            reviewpk = $(this).attr("data-review-pk");
            $.ajax(
            {
                type:"GET",
                url: "{% url 'peformance-review-employee-met-confirm' %}",
                data:{
                        review_pk: reviewpk
                },
                success: function( data ) 
                {
                    location.reload();
                }
            })
        });

        $('.manager-mark-discussed').click(function(){
            var reviewpk;
            reviewpk = $(this).attr("data-review-pk");
            $.ajax(
            {
                type:"GET",
                url: "{% url 'peformance-review-manager-met-confirm' %}",
                data:{
                        review_pk: reviewpk
                },
                success: function( data ) 
                {
                    location.reload();
                }
            })
        });
    </script>
{% endblock %}