<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body style="margin: 15px;">
        <p>Hello,</p>
        <p>A new Gas PIN is needed for {{ name_string }} {{ type_verb }} on {{ date_string }}.</p>
        <p>See link to view the transition:</p>
        <p><a href="{{ transition_url }}">{{ transition_url }}</a></p>
        <p>{{ sender_name }}</p>
        <p>View and update your email preferences: <a href="{{ profile_url }}">{{ profile_url }}</a></p>
    </body>
</html>