<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body style="margin: 15px;">
        <h1>{{context.team_name}} Team</h1>
        <h3>Who is out today</h3>
        <p><strong>{{context.today|date:"l"}}, {{context.today|date:"F"}} {{context.today.day}}:</strong></p>
        <ul>
            {% for tor in context.today_tors %}
                <li>{{tor.employee.name}}{% if tor.note %} - {{ tor.note }}{% endif %}</li>
            {% endfor %}
        </ul>
        <p>View the full calendar: <a href="{{context.calendar_url}}">{{context.calendar_url}}</a></p>
        <p>View and update your email preferences: <a href="{{context.profile_url}}">{{context.profile_url}}</a></p>
    </body>
</html>